body{
    padding: 0;
    margin: 0;
}

.FSL {
    background-color: #585858;
    display: grid;
    height: 100vh;
    place-content: center;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.FSLFinny {
    width: 35vw;
    height: 15vh;
    display: block;
}

.FSLFbottom,
.FSLll {
    fill: none;
}

.FSLFbottom {
    stroke-width: inherit;
    stroke: #87AEAF;
    stroke-opacity: 0.3;
}

.FSLll {
    stroke: #3DBABA;
    animation: FSLLoop 3s linear infinite;
    stroke-width: 0.35;
    stroke-dasharray: 3 24.5;
    stroke-linecap: round;
}

.FSLFinny {
    stroke-width: 1.43;
    animation: rot 36s linear infinite;
    perspective: 500px;
}

.FSLShad {
    animation: FSLRaise 3s linear infinite;
}

.FSLShad.FSLOdd {
    animation-delay: -1.5s;
}

@keyframes FSLRaise {
    0%,
    20% {
        opacity: 1;
    }
    30%,
    70% {
        opacity: 0;
    }
    80%,
    100% {
        opacity: 1;
    }
}

.FSLll {
    animation-delay: -1.5s;
}

@keyframes FSLLoop {
    0% {
        stroke-dashoffset: 0.5;
    }

    100% {
        stroke-dashoffset: 28;
    }
}

.FSLClip-shadow {
    stroke-linecap: butt;
    fill: none;
    opacity: 0.3;
    stroke-width: inherit;
    stroke: url(#sgrad);
}


@media (prefers-color-scheme: light) {
    #sgrad stop {
        stop-color: #2345;
    }
}